@import "../variable.module.scss";

.sidebarContainer {
  flex: 1.8;
  background-color: $sidebar__bg;
  position: sticky;
  top: 0;
  height: max-content;

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;

    .storeName {
      font-weight: 700;
    }
  }
}
