@import "../variable.module.scss";

.sidebarContainer {
  flex: 1.8;
  background-color: $sidebar__bg;
  border-right: 1px solid #ebeef1;
  position: sticky;
  height: 100%;
  top: 0;
  left: 0;

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .storeName {
      font-weight: 700;
    }
  }
}
