$gutter_x: 2rem;
$gutter_y: 0.725rem;

// color
$header__bg: hsl(213, 13%, 16%);
$header__fc: hsl(0, 0%, 100%);
$header__nav_focus: rgba(255, 255, 255, 0.7);

$section__bg: #f5f8fa;

$sidebar__bg: #ffffff;
